<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inputView.backgroundColor</key>
	<string>0,0,0,0</string>
	<key>inputView.backgroundImage</key>
	<string>default</string>
	<key>skinSetting.selectedIndexPath</key>
	<string>0,0</string>
	<key>rootWrapView.backgroundColor</key>
	<string>0,0,0,0</string>
	<key>keyboardWrap.backgroundColor</key>
	<string>0,0,0,0</string>
	<key>topView.backgroundColor</key>
	<string>0,0,0,0</string>
	<key>singleHandView.backgroundColor</key>
	<string>0,0,0,0</string>
	<key>btn.space.horizon</key>
	<integer>1</integer>
	<key>btn.space.verticel</key>
	<integer>1</integer>
	<key>font.color</key>
	<string>240,208,164,255</string>
	<key>font.name</key>
	<string>Helvetica</string>
	<key>font.highlightColor</key>
	<string>255,255,255,255</string>
	<key>btn.content.color</key>
	<string>240,208,164,255</string>
	<key>btn.content.highlightColor</key>
	<string>255,255,255,255</string>
	<key>btn.borderColor</key>
	<string>127,127,127,255</string>
	<key>btn.borderWidth</key>
	<real>1</real>
	<key>btn.cornerRadius</key>
	<real>5</real>
	<key>btn.opacity</key>
	<integer>0</integer>
	<key>btn.innerBorder.borderColor</key>
	<string>127,127,127,255</string>
	<key>btn.innerBorder.borderWidth</key>
	<real>1</real>
	<key>btn.innerBorder.cornerRadius</key>
	<real>4</real>
	<key>btn.shadow.color</key>
	<string>127,127,127,255</string>
	<key>btn.shadow.height</key>
	<integer>0</integer>
	<key>btn.innershadow.offsetY</key>
	<integer>0</integer>
	<key>btn.innershadow.offsetX</key>
	<integer>0</integer>
	<key>btn.topAndMain.space</key>
	<real>0.5</real>
	<key>btn.mainLabel.fontSize</key>
	<integer>20</integer>
	<key>btn.topLabel.fontSize</key>
	<integer>10</integer>
	<key>footerText.fontSize</key>
	<integer>12</integer>
</dict>
</plist>
